/*
-----------------------------------------------
Created with Notepad++
User: Yohanes Budi Santosa
Date: 03/17/16
-----------------------------------------------
*/

@media screen and (max-width:319px) {
.outer-wrapper{display:none;}
.minWidth{display:block;padding:10px;line-height:1.3em;font-size:22px;text-align:center;margin-top:10%;}
}
@media screen and (max-width:479px) {
body{background:#fff;}
.formLogin{border:none;}
.topWidget .content {background:none;border: none;border-radius:0;overflow:hidden;padding:0;}
.topWidget .content .title{margin:0 0 15px;border-radius:3px;}
.topWidget .content .title,.bottomWidget .subtitle{font-size:16px;}
.titleStaticPage{padding:0 0 0 10px;}
.contentDropDown{left:0;}
}
@media screen and (max-width:729px) {
.responsive3{display:block;margin:0 0 15px;float:none;width:100%;}
.sameHeight2{height:auto !important;}
.toInlineResponsive{position:static;margin:0 0 10px;}
}
@media screen and (max-width:820px) {
.responsive2{display:block;margin:0 0 15px;float:none;width:100%;}
.formSearch{padding:25px 0 0;}
.sameHeight{height:auto !important;}
.orInlineResponsive{position:static;margin:10px 0 0;}
}
@media screen and (max-width:978px) {
.titleStaticPage{display:block;background:#e5e5e5;}
.sidebar,.sidebar2{position:absolute;background:#d2f1fb;left:0;right:0;top:35px;width:auto;padding:10px;border-radius:2px;display:none;z-index:6;}
.sidebar2{background:#e9e9e9;padding:10px 10px 20px;}
.sidebar2 li{border-color:#ccc;color:#999;}
.sidebar2 li a{color:#666;}
.sidebar.active,.sidebar2.active{display:block;}
.sidebar h2,.sidebar2 h2{padding:0;margin:0 0 10px;font-size:18px;}
.menuSidebar,.menuSidebar2{display:inline-block;}
.twoColumnMain .main-content{margin:0;}
}
@media screen and (max-width:1000px) {
.responsive1{display:block;margin:0 0 15px;float:none;width:100%;}
.minusTop{margin-top:-10px;}
.none{display:none !important;}
.main-wrapper{margin:15px 15px 0;}
.header-wrapper{background:#fff;height:auto;position:static;padding:5px 0;}
.header{margin:0;}
.header .logo{width:137px;height:46px;margin:10px auto;float:none;display:block;}
.header .logo img{width:137px;height:46px;}
.header .afterLogo{position:static;height:auto;}
.header .afterLogo .afterTop{height:auto;line-height:normal;border-bottom:none;}
.header .afterLogo .afterTop a{color:#17b2e2;text-decoration:none;}
.header .afterLogo .afterTop .left{float:none;display:block;margin:0 auto 10px;text-align:center;}
.header .afterLogo .afterTop .right{float:none;margin:0;padding:0 10px;text-align:center;}
.header .afterLogo .afterTop .right ul{margin:0 auto;display:inline-block;}
.header .afterLogo .afterTop .right li{margin:0 0 10px 15px;display:inline-block;}
.header .afterLogo .afterBottom{height:auto;line-height:normal;}
.header .afterLogo .afterBottom .left{float:none;margin:0;}
.header .afterLogo .afterBottom .left .nav-tabs{width:100%;}
.header .afterLogo .afterBottom .left .nav-tabs > li{width:50%;}
.header .afterLogo .afterBottom .left .nav-tabs > li > a{padding:10px 0;text-align:center;}
.header .afterLogo .afterBottom .right{float:none;text-align:center;margin:10px 0}
}